humidity_oversample: "{{ humidity_oversample }}" 
temperature_oversample: "{{ temperature_oversample }}"
pressure_oversample: "{{ pressure_oversample }}"
filter_size: "{{ filter_size }}"
enable_gas_meas: "{{ enable_gas_meas }}"
temp_offset: {{ temp_offset }}
gas_heater_temperature: {{ gas_heater_temperature }}
gas_heater_duration: {{ gas_heater_duration }}
gas_heater_profile: {{ gas_heater_profile }}
burn_in_time: {{ burn_in_time }}
sampling_time: {{ sampling_time }}
humidity_baseline: {{ humidity_baseline }}
humidity_weight: {{ humidity_weight }}
top_gas_reading_file: "/data/top_gas_readings.txt"  
top_gas_reading_size: {{ top_gas_reading_size }}
log_level: "{{ log_level }}"
log_telegraf: "{{ log_telegraf }}"
